@import "../../../css/fonts.scss";

.centred {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.camera {
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    padding: 30px;
}

.subtitle {
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
}

#img {
    width: 100px
}

.open {
    text-align: center;
    button {
        background-color: var(--main-color-variant-1);
    }
}
