table {
    width: 70%;
    text-align-last: center;
    margin: auto;
    button {
        margin: 3px;
    }
}

th {
    background-color: #373740;
    font-size: large;
}

td {
    background-color: #474780;
}

#Add {
    position: relative;
    margin: 5px;
    margin-left: 81%;
}

button {
    transform: perspective(800px) rotateY(10deg) scale(0.9) rotateX(10deg);
    filter: blur(0.5px);
    opacity: 1;
    transition: 0.6s ease all;
    &:hover {
        transform: perspective(800px) rotateY(-15deg) rotateX(10deg) scale(1);
        filter: blur(0);
        opacity: 1;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    }
}
