<div mat-dialog-content>

    <h2>Add new location</h2>
    <form [formGroup]="addLocationFormGroup">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Name*:</mat-label>
                <input matInput placeholder="Name" type="text" class="form-input" formControlName="name" />
                <!-- <div *ngIf="!addItemFormGroup.controls['name'].valid">Item ame is required</div> -->
                <!-- <mat-error *ngIf="hasError('name','required')">Item is required</mat-error> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Address*:</mat-label>
                <input matInput placeholder="Address" type="text" class="form-input" formControlName="address" />
                <!-- <div *ngIf="!addItemFormGroup.controls['name'].valid">Item ame is required</div> -->
                <!-- <mat-error *ngIf="hasError('name','required')">Item is required</mat-error> -->
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>TelNumber*:</mat-label>
                <input matInput placeholder="TelNumber" type="text" class="form-input" formControlName="telNumber" />
                <!-- <div *ngIf="!addItemFormGroup.controls['name'].valid">Item ame is required</div> -->
                <!-- <mat-error *ngIf="hasError('name','required')">Item is required</mat-error> -->
            </mat-form-field>
        </p>
        <p> <button mat-raised-button (click)="submitMe()" [disabled]="!addLocationFormGroup.valid">Submit</button>
            <button mat-raised-button (click)="closeMe()">Close</button>
        </p>
    </form>


</div>