:root{
  --main-color: #4f4fc4;
  --main-color-variant-1: #3b3657;
  --secondary-color: #e6e65a;
  --secondary-color-variant-1:#dddd22;
  --secondary-color-variant-2:#b1b11b;
  --text-color: #f2f2f2;
  --text-color-dark: #000000;
  --body-color: #6c6cc0;
}
