<body class="add-item-container">
      <div class="title">Add new item</div>
      <form [formGroup]="addItemFormGroup" (ngSubmit)="onSubmit()">
         <p>
             <mat-form-field class="form-field" appearance="outline">
                 <mat-label class="form-text">Item name: </mat-label>
                 <input matInput placeholder="Name of the item" class="form-input" type="text" formControlName="name"/>
                 <mat-error *ngIf="hasError('name', 'required')">Item name si required!</mat-error>

             </mat-form-field>

         </p>
         <p>
             <mat-form-field class="form-field" appearance="outline">
                 <mat-label>Description: </mat-label>
             <textarea matInput placeholder="Description of the item" formControlName="description"></textarea>
             <mat-error *ngIf="hasError('description', 'maxLength')">Too much characters!</mat-error>

              </mat-form-field>
         </p>

         <p>
            <mat-form-field class="form-field" appearance="outline">
            <mat-label>Inventory number: </mat-label>
            <input [readonly]="editMode"  [min]="0" matInput placeholder="Inventory number of the item" type="number"  formControlName="inventoryNumber"/>
            <mat-error *ngIf="hasError('inventoryNumber', 'required')">Inventory number required!</mat-error>

        </mat-form-field>
            </p>

         <p>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Choose a location</mat-label>
                <mat-select formControlName="location" (selectionChange)="selectedLocationHandler($event)">
                <mat-option *ngFor="let location of locations" [value]="location.name">
                    {{location.name}}
                </mat-option>
                </mat-select>
             </mat-form-field>
        </p>

        <p>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Choose an user</mat-label>
                <mat-select formControlName="user"  (selectionChange)="selectedUserHandler($event)">
                <mat-option *ngFor="let user of users" [value]="user.userName">
                    {{user.userName}}
                </mat-option>
                </mat-select>
             </mat-form-field>
        </p>

         <p>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Choose a category</mat-label>
                <mat-select formControlName="category" (selectionChange)="selectedCategoryHandler($event)">
                <mat-option *ngFor="let category of categories" [value]="category.name" >
                    {{category.name}}
                </mat-option>
                </mat-select>
             </mat-form-field>
        </p>

         <p>
             <mat-form-field class="form-field" appearance="outline">
             <mat-label>Created At: </mat-label>
             <input [readonly]="editMode" matInput placeholder="Creation date of the item" type="date" formControlName="createdAt"/>
             <mat-error *ngIf="hasError('createdAt', 'required')">Created date required</mat-error>

             </mat-form-field>
             </p>
         <button mat-raised-button class="submitButton" type="submit" [disabled]="!addItemFormGroup.valid">Submit</button>
     </form>
     <img id="img" src="../../../assets/addItemImg.png">
</body>

