@import "../../../css/colors.scss";
@import "../../../css/fonts.scss";

.contact-form-component{
  width: 60vw;
  min-width: 50vw;
  padding-bottom: 150px;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  width: 95%;
}

.div-group {
    display:flex;
    width:max-content;
}

.mat-form {
    width: 30vw;
    min-width: 300px;
    left: 5vw;
}

.label {
    color: var(--text-color);
    min-width: 100px;
    max-width: 25vw;
    font-size: var(--large-font-size);
}

hr.line {
    border: 1px solid white;
    width: 93vw;
    margin-bottom:2%;
}

.form-details {
    color: var(--text-color);
}

.contact-details {
    font-size: var(--large-font-size);
    width: 30vw;
    min-width: 500px;
}

#google-maps {
    padding-top: 15px;
    padding-bottom: 30px;
    width:80%;
    height:60%;
}
