@import "../../../css/colors.scss";
.title {
    position:relative;
    color: var(--text-color);
    left: 0em;
    font-size:  4em;
    margin-bottom: 0.5em;
    font-family: "Inconsolata", monospace;
    float: left;
}

.contact-form {
    top: 15%;
    padding: 40px;
}

.div-group {
    display:flex;
}

.mat-form {
    width: 30%;
    left: 200px;
}

.label {
    color: var(--text-color);
    width: 50px;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
}

hr.line {
    border: 1px solid white;
    width: 93vw;
    margin-bottom:2%;
}

.form-details {
    position:relative;
    margin-left: 60%;
    bottom:36%;
    font-family: "Inconsolata", monospace;
    color: var(--text-color);
}

.contact-details {
    font-size: 25px;
}

#title-details {
    font-size: 40px;
}

#google-maps {
    position:relative;
    width:30%;
    height:30%;
    left:60%;
    bottom:10%;
}

