<div *ngIf="itemIsFound ; else itemIsNotFound" class="mat-typography page">
    <!-- <img src='../../../assets/view-item.png' class='image1'> -->
    <div class='image1'>

    </div>
    <div class="info">
        <h1><b>Item Information:</b></h1>
        <div class="item">
            <p>
                <b>Id:</b><i> {{ item.id }}</i>
            </p>
            <p>
                <b>Name:</b><i> {{ item.name }}</i>
            </p>
            <p>
                <b>Description:</b><i> {{ item.description }}</i>
            </p>
            <p>
                <b>User:</b><i> {{ item.user }}</i>
            </p>
            <p>
                <b>Location:</b><i> {{ item.location }}</i>
            </p>
            <p>
                <b>InventoryNumber:</b><i> {{ item.inventoryNumber }}</i>
            </p>
            <p>
                <b>CreatedAt:</b><i> {{ item.creationDate |date}}</i>
            </p>
            <p>
                <b>ModifiedAt:</b><i> {{ item.modifiedAt |date}}</i>
            </p>
        </div>
    </div>
    <div class='image2'>

    </div>
    <!-- <img src='../../../assets/136-1365024_what-is-inventory-inventory-png.png' class='image2'> -->
</div>
<!-- <p>
    <qr-code [value]="itemId" [size]="qrsize"></qr-code>
</p> -->
<ng-template #itemIsNotFound>
    <h1 class="message">
        <b> This item was stolen by a mysterious creature, please look for another.</b>
    </h1>
    <img src='../../../assets/box-cute.gif' class='image'>


</ng-template>
