<div *ngIf="itemIsFound ; else itemIsNotFound">
    <p>Item Information:</p>
    <p>
        <b>id:</b><i>{{ item.id }}</i>
    </p>
    <p>
        <b>name:</b><i>{{ item.name }}</i>
    </p>
    <p>
        <b>description:</b><i>{{ item.description }}</i>
    </p>
    <p>
        <b>user:</b><i>{{ item.user }}</i>
    </p>
    <p>
        <b>location:</b><i>{{ item.location }}</i>
    </p>
    <p>
        <b>inventoryNumber:</b><i>{{ item.inventoryNumber }}</i>
    </p>
    <p>
        <b>createdAt:</b><i>{{ item.creationDate }}</i>
    </p>
    <p>
        <b>modifiedAt:</b><i>{{ item.modifiedAt }}</i>
    </p>
    <p>
        <button (click)="editItem()">Edit</button>
    </p>
    <p>
        <!-- <qr-code [value]="itemId" [size]="qrsize"></qr-code> -->
    </p>
</div>

<ng-template #itemIsNotFound>
    <p> Item with Id: {{itemId}} not found</p>
</ng-template>
