/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html, body { height: 100%; }
body {
     background-color: rgb(56, 82, 165);
     margin: 0; 
     font-family: 'Inconsolata', monospace;
     padding: 0 15px;
}
