/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import "css/colors.scss";

html,
body {
  height: 100%;
}
body {
  background-color: var(--body-color);
  margin: 0;
  font-family: "Inconsolata", monospace;
  padding: 0 15px;
  // overflow:  scroll;
}
// ::-webkit-scrollbar {
//   width: 0px;
//   background: transparent; /* make scrollbar transparent */
// }


