<div>
    <button mat-fab color="accent" (click)='add()' id="Add"><mat-icon>add</mat-icon></button>
    <table mat-table #table [dataSource]="dataSources" class="mat-elevation-z8">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Name" [value]="element.name" [(ngModel)]="element.name" required>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="parent_category">
            <th mat-header-cell *matHeaderCellDef> parent category </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                    <mat-label *ngIf="element.parent_category">{{element.parent_category.name}}</mat-label>
                    <mat-label *ngIf="!element.parent_category">NULL</mat-label>
                    <mat-select (selectionChange)="changeClient($event.value)">
                        <mat-option matInput *ngFor="let parent of category" [value]="parent">
                            <div *ngIf="parent.id!=element.id; else elseBlock">
                                {{parent.name}}
                            </div>
                            <ng-template #elseBlock>NULL</ng-template>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>actions</th>
            <td mat-cell *matCellDef="let element; let i=index">
                <button mat-mini-fab color="warn" (click)="delete(element.id, i)"><mat-icon>delete</mat-icon></button>
                <button mat-mini-fab color="primary" (click)="edit(element)"><mat-icon>edit</mat-icon></button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="categoryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: categoryColumns"></tr>
    </table>

</div>
