<div class="header-container">
  <div class="app-logo">
      <img id="logo" src="../../../assets/img/logo.png">
  </div>

  <div [ngClass]='{"nav-menu-hidden" : !showNavbar, "nav-menu": true}'>
      <a (click)='resetNavbar()' routerLink=''>Home</a>
      <a (click)='resetNavbar()' href="/inventory">Inventory</a>
      <a (click)='resetNavbar()' routerLink='/add-item'>New item</a>
      <a (click)='resetNavbar()' href="#scan-item">Scan item</a>
      <a (click)='resetNavbar()' routerLink='/contact'>Contact</a>
  </div>

  <div class="search-bar">
    <button mat-icon-button (click)="toggleNavbar()" class="nav-button">
      <mat-icon>menu</mat-icon>
    </button>
    <form class="search-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search Item</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of items" [value]="option.name" routerLink="/edit/{{option.id}}">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
  </div>
</div>
