@import "../../../css/colors.scss";
.header-container{
  display: inline-flex;
  background-color: var(--main-color);
  width: 100%;
}
.app-logo {
  padding: 20px;
  width: 15%;
  min-width: 300px
}
.nav-menu {
  padding-top: 40px;
  width: 50vw;
  text-align: center;
  display: flex;
}
.search-bar {
  width: 30%;
  padding-left: 5vw;
}
.example-full-width {
  width: 60%;
}

.nav-menu a {
  color: var(--text-color);
  text-align: center;
  padding-top: 25px;
  text-decoration: none;
  font-size: 2.5em;
  font-family: "Inconsolata", monospace;
  width: 30%;
  display: inline;
}
.nav-menu a:hover {
  background-color: var(--text-color);
  color:var(--text-color-dark);
}

.nav-menu a.active {
  background-color: var(--text-color);
  color:var(--text-color-dark);
}

#logo {
  width: 300px;
}

.search-form {
  padding-top: 50px;
}

@media screen and (max-width: 1200px) {
  .header-container{
    display: block;
  }
  .app-logo {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .app-logo #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: auto;
  }
  .nav-menu a{
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-menu a{
    border-bottom: 3px solid var(--body-color);
    border-top: 3px solid var(--body-color);
  }
  .nav-menu a,
  .nav-menu,
  .search-bar {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
  }
  .nav-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .example-full-width {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}
