<div class="body">
    <div class="topHalf">

        <div class="leftHalf">
            <div class="info">
                <h2>Inventory management software for growing businesses.</h2>
                <p>Increase your sales and keep track of every unit with our powerful stock management, order fulfillment, and inventory control software.</p>
            </div>
            <div class="botHalf">
                <img src='../../../assets/Pika.gif' id='gif' />
            </div>
        </div>

        <div class='homeimage'>
            <div class="card">
                <h2 class="secondTitle">Latest items used</h2>
                <div *ngFor="let item of items" (click)="goTo(item.id)" class="lastItems">

                    <!-- <p>
                <b>id:</b><i>{{ item.id }}</i>
            </p> -->
                    <p>
                        <b>Name:</b> <i>  {{ item.name }}</i>
                    </p>
                    <!-- <p>
                        category:<i>  {{ item.category }}</i>
                    </p> -->
                    <p>
                        <b>Inventory Number:</b><i>  {{ item.inventoryNumber }}</i>
                    </p>

                    <!-- <p>
                <b>createdAt:</b><i>{{ item.creationDate | date }}</i>
            </p>
            <p>
                <b>modifiedAt:</b><i>{{ item.modifiedAt | date }}</i>
            </p> -->
                </div>
            </div>
        </div>
    </div>

</div>