@import "../../../css/colors.scss";
.body {
    margin-left: 30px;
    padding-top: 10%;
    height: 100%;
}

.topHalf {
    width: 40%;
    min-width: 500px;
}

.home-page-image {
    position: absolute;
    z-index: -100;
    right: -10vw;
    top: 20vh;
}

.separator {
    margin-right: 30px;
    width: 100;
    color: var(--text-color);
    text-align: center;
    background-color: var(--text-color-dark);
    background-size: 300%;
    background-position: right;
    transition: background-position 300ms;
    cursor: pointer;
    height: 20px;
    //font-size: 2em !important;
}

h1 {
    color: var(--text-color);
}

.botHalf {
    margin-top: 6%;
}

.info {
    h1 {
        font-size: xx-large;
    }
    text-align: center;
    color:var(--text-color);
}

#gif {
    padding-bottom: -20px;
    margin-bottom: -20px;
    height: 25vw;
    padding-top: 50px;
    margin-right: 3%;
}

.lastItems {
    font-size: 1.5em;
    margin: 2% 2%;
    display: inline-block;
    padding: 20px 4%;
    border-radius: 15px 50px 30px;
    color: var(--text-color);
    cursor: pointer;
    background: linear-gradient(90deg, var(--main-color), var(--main-color-variant-1), var(--secondary-color));
    background-size: 300%;
    background-position: left;
    transition: background-position 600ms;
}

.secondTitle {
    padding: 10px;
    text-align: center;
    font-size: xx-large;
}

.lastItems:hover {
    color: var(--text-color-dark);
    background-position: right;
}
